#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 24vh;
    color: white;
    margin: 20px;
}

#footer .btn-default{
    margin: 30px;
}

#footer span {
    margin-top: 1%;
    font-weight: 400;
    font-size: 12px;
}

@media screen and (max-width: 1170px) {
    #footer {
        text-align: center;
    }
}